<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="IT support, technicien IT, support technique, portfolio">
    <meta name="author" content="Fredy Mendes">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="<%= description %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/png" href="/img/icon_onglet.png">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>