<%- include('partials/header', { title: 'Article - Fredy Mendes', description: 'Article - Portfolio Fredy Mendes' }) %>

    <%- include('partials/nav') %>

    <!-- Article Section -->
    <section class="article-page">
        <div class="container">
            <div id="article-content"></div>
            <div class="article-nav">
                <a href="/blog" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Retour au Blog
                </a>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>
    <script src="/js/article.js"></script>
